<template>
    <div class="all">
        <input  class="bar" type="text" @change="searchBar(this.dataGithub, userName)" v-model="userName">
<!--        <span>{{searchBar(this.dataGithub, userName)}}</span>-->



            <ul v-for="data in dataGithub">
                <li class="list">{{ data.full_name }} - {{ data.owner.login }}</li>
            </ul>


<!--        <div class="container-profile">-->
<!--            <h3>{{ data.name }}</h3>-->
<!--            <h3>{{ data.languages }}</h3>-->
<!--            <h3>{{  }}</h3>-->
<!--            <h3>{{  }}</h3>-->
<!--            <h3>{{  }}</h3>-->
<!--        </div>-->
    </div>
</template>

<script>
import axios from 'axios';
    export default {
  name: 'Data',

        data: () => {
      return {
          dataGithub: [],
          userName: '',
          // selectUser: []
      }
    },

        created() {
      this.getDataGithub();
        },

        methods: {
            getDataGithub: function () {
                axios.get( "https://api.github.com/repositories" ).then( res => {
                    this.dataGithub = res.data;
                } );
            },
            searchBar(arr, requete) {
                console.log(requete);
                return arr.filter( function (elem) {
                    return elem.indexOf( requete.toLowerCase() ) !== -1;
                })
            },

            // showProject() {
            //     let uses = this.selectUser;
            //     let route = "https://api.github.com/repos/" + uses;
            //     axios.get( route ).then( (response) => {
            //         console.log( response.data );
            //         this.selectUser = response.data
            //     } )
            // }
        }
      }
</script>

<style scoped>
    .bar {
        margin: 16px;
    }



</style>
