<template>
    <div id="app">
        <!-- added a navbar -->
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-6 h2 title">GitHub Web App</span>
                <i class="fab fa-github fa-inverse"></i>
        </nav>
        <div class="container">
            <Data/>
        </div>

    </div>
</template>

<script>
    import Data from './components/Data.vue'
    export default {
        name: 'app',
        components: {
            Data,
        }
    }
</script>

<style>
    body{
        background-color: #FEFEFE
    }
    .asset{
        word-break: break-all;
    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
    }
</style>